<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <script type="text/javascript" th:src="@{https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js}"></script>
    <link th:href="@{https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/default.css}" rel="stylesheet"/>
    <link rel="icon" th:href="@{/images/favicon.ico}" type="image/x-icon"/>
    <meta charset="UTF-8"/>
    <title>用户列表</title>
</head>

<body>

<div class="contentDiv">

    <h5> 用户列表显示 </h5>

    <table class="table table-hover table-condensed">
        <legend>
            <strong>用户列表</strong>
        </legend>
        <thead>
        <tr>
            <th>用户编号</th>
            <th>用户姓名</th>
            <th>用户生日</th>
            <th>性别</th>
            <th>地址</th>
            <th>更新时间</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${userList}">
            <th scope="row" th:text="${user.id}"></th>
            <td th:text="${user.userName}"></td>
            <td th:text="${#dates.format(user.birthDay, 'yyyy-MM-dd')}"></td>
            <td th:text="${user.sex}"></td>
            <td th:text="${user.addr}"></td>
            <td th:text="${#dates.format(user.updateDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
            <td><a class="btn btn-danger" th:href="@{/userManager/deleteUser/{userId}(userId=${user.id})}">删除</a></td>
        </tr>
        </tbody>
    </table>

    <!--分页-->
    <div th:replace="page"></div>
    <!--/分页-->

    <div><a class="btn btn-primary" href="/userManager/create" role="button">新增用户</a></div>
</div>

<script>
    $(function () {
        // 获取评论列表
        function getComment(postId, pageIndex) {
            // var _ctx = $("meta[name='ctx']").attr("content");
            // // 获取 CSRF Token
            // var token = $("meta[name='_csrf']").attr("content");
            // var header = $("meta[name='_csrf_header']").attr("content");
            $.ajax({
                //url: _ctx + '/comments',
                uro : "/userManager/getUserList2",
                type: 'GET',
                data: {
                    "async": true,
                    "pageNum":  pageIndex,
                    "pageSize" : 10
                    //"postId": postId,
                    //"pageIndex": pageIndex,
                    //"order": order
                },
                beforeSend: function (request) {
                    //request.setRequestHeader(header, token); // 添加  CSRF Token
                },
                success: function (data) {
                    //$("#comment-wrapper").html(data);
                    alert(data)
                },
                error: function () {
                    //layer.msg("出现错误，请尝试刷新页面!", {icon: 2, anim: 6});
                }
            });
        };

        /*//跳转到指定的页号
        $(document).on('keydown', '.jump-page-size', function (event) {
            var max = parseInt($(this).attr("max"));
            var pageIndex = parseInt($(this).val());
            var order = $('.paging-box').attr('data-order');
            if (event.keyCode == "13") {//keyCode=13是回车键
                if (pageIndex == "" || pageIndex == null) {
                    return false;
                }
                if (!/^\d+$/.test(pageIndex)) {
                    pageIndex = 1;
                }
                if (pageIndex < 1) {
                    pageIndex = 1;
                }
                if (pageIndex > max) {
                    pageIndex = max;
                }
                getComment(postId, pageIndex, order);
            }
        })
        getComment(postId, 1, "new");*/
    })
</script>
</body>
</html>